#scroll-top a {
	width: 4rem;
	height: 4rem;
	position: relative;
	background-color: transparent;
	overflow: hidden;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: block;
	background: url(../images/icon_page_top.svg) no-repeat 50% 50%;
	background-size: 60%;
	opacity: 1;
}

#scroll-top a:hover {
	text-decoration: none;
}

#scroll-top {
	display: block;
	position: fixed;
	bottom: 2rem;
	right: 0rem;
	z-index: 1001;
}

#scroll-top.is--visible a {
	opacity: 1;
}

#scroll-top.is--visible {
	right: 0 !important;
}

#scroll-top.is--visible a:hover {
	opacity: 0.5;
}

@media only screen and (max-width: 767px) {
	#scroll-top {
		bottom: 2rem;
		right: 0rem;
	}
}
