<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$event_rec.event_name|escape}-ご来場アンケート</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/style.css" rel="stylesheet" type="text/css">


<script>
    const BACK_SECOND = {$back_second};
{literal}
  function _ans(ans){
    document.form_edit.submit();
  }

  function _top() {
      setTimeout(function() {
          location.href = './';
      }, BACK_SECOND * 1000);
  }
</script>
{/literal}

</head>

<body class="c2">

<div class="inner_wrap">

  {if $err_msg.0 !=''}
      <div class="errArea">
          {foreach from=$err_msg item=msg}
              {$msg|escape}<br>
          {/foreach}
      </div><br>
  {/if}

    <h1 class="msr_h103">ご来場アンケート</h1>
    <div class="msr_radio_01">
      {if $jigo_enq_open!="1"}
           只今準備中です。しばらくお待ち下さい。<br>
           このページは{$back_second}秒後にトップに戻ります。
        <script>
            _top();
        </script>
      {elseif $kaitouzumi=="1"}
           ご来場アンケートは回答済みです。<br>
           <br>
           ご回答にご協力いただき誠にありがとございました。<br>
           このページは{$back_second}秒後にトップに戻ります。
           <br>
           <ul class="Venue-btn" id="ans">
           <li class="Venue-btn01" onclick="location.href='./';"><a href="javascript:void(0);">トップに戻る</a></li>
           </ul>
        <script>
            _top();
        </script>
      {elseif $exec=="save" && $err_msg.0 ==''}
           ご来場アンケートご回答にご協力いただき誠にありがとございました。<br>
           このページは{$back_second}秒後にトップに戻ります。
           <br>
           <br>
           <ul class="Venue-btn" id="ans">
           <li class="Venue-btn01" onclick="location.href='./';"><a href="javascript:void(0);">トップに戻る</a></li>
           </ul>
        <script>
            _top();
        </script>
      {else}
          {$login.user_kigyou_name|escape}<br>
          {$login.user_name|escape} 様<br>
        「{$event_rec.event_name|escape}」のご来場アンケートにご協力ください。<br>
        <br>
        <form name="form_edit" action="./?page=answer" method="post" onSubmit="return false;">
        <input type="hidden" name="exec" value="save">

              <dl class="jigo_table">
              {foreach from=$questions key=field_name item=rec name=loop}
                  {if $rec.type != "sub_text"}
                      {if !$smarty.foreach.loop.first}
                          </dd>
                      {/if}
                      <!-- 20250707　全てのdtのclassに「question」追加 -->
                      <!-- 20250707　ループ1つ目のdtのみ、classに「active」を追加する制御が必要 -->
                      <dt class="question {if $smarty.foreach.loop.first} active {/if}" style="font-size:20px;font-weight:bold;margin-bottom:15px;">

                          【設問{$rec.no|escape}】{$rec.question|escape}{if $rec.hissu_flg=='1'}&nbsp;<span style="color:red;">【必須】</span>{/if}
                      </dt>
                      <dd>
                  {else}
                      <br />{$rec.question|escape}
                  {/if}
                  {if $rec.type == "radio"}
                      {foreach from=$rec.options key=k2 item=r2 name=foo}
                          <input type="{$rec.type}" style="top:-4px;position:relative;" name={$field_name} value="{$k2}"{if $row[$field_name]==$k2} checked="true" {/if} id="{$field_name}_{$smarty.foreach.foo.index}"><label for="{$field_name}_{$smarty.foreach.foo.index}"><span style="font-size:22px;">{$r2|escape}</span></label><br>
                      {/foreach}
                  {/if}
                  {if $rec.type == "checkbox"}
                      {foreach from=$rec.options key=k2 item=r2 name=foo}
                          <input type="{$rec.type}" style="top:-4px;position:relative;" name={$field_name}[{$smarty.foreach.foo.index}] value="{$k2}"{if $row[$field_name][$smarty.foreach.foo.index]==$k2} checked="true" {/if} id="{$field_name}_{$smarty.foreach.foo.index}"><label for="{$field_name}_{$smarty.foreach.foo.index}"><span style="font-size:22px;">{$r2|escape}</span></label><br>
                      {/foreach}
                  {/if}

                  {if $rec.type == "text"}
                  <input type=text name="{$field_name}" style="width:70%;" value="{$row[$field_name]|escape}" class="area">
                  {/if}

                  {if $rec.type == "sub_text"}
                  <br />
                  <textarea name="{$field_name}" style="width:70%;" class="area">{$row[$field_name]}</textarea>
                  {/if}
                  <span class="page">{$smarty.foreach.loop.index + 1}/{count($questions)}</span><!-- 20250707　全設問の何問目かを表示 -->           
                  {if $smarty.foreach.loop.last}
                      </dd>
                  {/if}
              {/foreach}
              </dl>
            <!--20250707　ulのclassに「Venue-btn_page」と「question」追加、文言を「上記内容で回答する」から「回答する」に変更 -->
            <ul class="Venue-btn Venue-btn_page question" id="ans">
                <li class="Venue-btn01" onclick="_ans();"><a href="javascript:void(0);">回答する</a></li>
            </ul>

            <!-- 20250707ナビゲーション追加ここから -->
            <div class="Prevnext-btn">
                <button id="prevBtn" disabled>戻る</button>
                <button id="nextBtn">次へ</button>
            </div>
            <!-- 20250707ナビゲーション追加ここまで -->
          </form>
      {/if}
    </div>


</div>
<!--/#contents-->

<footer>

<div id="copyright">
<small>Copyright (c) NIPPON ACCESS, INC. All rights reserved.</small>
</div>

</footer>

<!-- 20250707script追加ここから -->
{literal}
<script>

    const questions = document.querySelectorAll('.question');

    let current = 0;


    const prevBtn = document.getElementById('prevBtn');

    const nextBtn = document.getElementById('nextBtn');


    function showQuestion(index) {

        questions.forEach((q, i) => {

            q.classList.toggle('active', i === index);

        });

        prevBtn.disabled = index === 0;

        nextBtn.disabled = index === questions.length - 1;

    }


    prevBtn.addEventListener('click', () => {

        if (current > 0) {

            current--;

            showQuestion(current);

        }

    });


    nextBtn.addEventListener('click', () => {

        if (current < questions.length - 1) {

            current++;

            showQuestion(current);

        }
        else {
        }

    });

</script>
{/literal}
<!-- 20250707script追加ここまで -->

</body>
</html>
