<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$event_rec.event_name|escape}　{$disp_ymd|escape}-{$area_rec.area_name|escape}出入口</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>

{literal}
<script>
  $(window).on('load', function() {
    $('#qr_code').focus();
  });
</script>
{/literal}

</head>

<body class="c2">

<header>
<div class="inner">
<h1 id="logo"><a href="./?ymd={$ymd|escape}"><img src="../../images/logo.png" alt="日本アクセス"></a></h1>
<h2 style="font-size:30px;padding-top:20px;">{$event_rec.event_name|escape}　{$disp_ymd|escape}{if $ymd_alert!=""}{$ymd_alert}{/if}</h2>
</div>
</header>

<div class="Venue_inner_wrap_mapage">
  <div class="form-wrapper">
    <h1 class="Venue-h">{$area_rec.area_name|escape}<br>出入口</h1>
  <form name="form_edit" action="./?page=area_in_out&area_id={$area_rec.area_id|escape}&ymd={$ymd|escape}" method="post">
  <input type="hidden" name="exec" value="save">
      <div class="form-item Venue-text">
        <label for="qr_code"></label>
        {literal}
        <input type="password" name="qr_code" id="qr_code" placeholder="" onblur="obj = this; setTimeout(function(){ obj.focus(); }, 1);" />
        {/literal}
      </div>
        <h2 class="Venue-h2" {if $now_cnt > $area_rec.area_max}style="color:red;"{/if}>{$now_cnt|escape}/{$area_rec.area_max|escape}人</h2>
    </form>
  {if $err_msg.0 !=''}
    <span style="color:red;">{$err_msg.0|escape}</span>
  {else if $success_msg != ''}
    <div style="color:green; text-align:right;">{$success_msg|escape}</div>
  {/if}
  </div>
</div>
<!--/#contents-->

<!-- <footer>

<div id="copyright">
<small>Copyright (c) NIPPON ACCESS, INC. All rights reserved.</small>
</div>

</footer>
 -->
</body>
</html>
