#<IfModule !mpm_winnt.c>
#<IfModule !hfs_apple_module>
#    # 処理順
#    Order deny,allow
#    # 一旦全NG
#    deny from All
#    # allow か Require どちらかの条件にマッチすればOKとする
#    Satisfy Any
#
#    # 許可ホスト名（local）の指定
#    SetEnvIf HOST "^(localhost|tenjikai)" noAuth
#
#    # 許可ホストはOK
#    allow from env=noAuth
#    # Basic認証
#    Require valid-user
#    AuthType Basic
#    AuthName "Please enter your ID and password"
#
#    # テスト環境ではコンテンツは以下のパスではないく、
#    # 「/var/www/vhosts/test-tenjikai.nippon-access.co.jp/admin/」だが
#    #  下記設定でも通るように
#    # テスト環境にも「/var/www/vhosts/tenjikai.nippon-access.co.jp/admin/」だけフォルダ作成している
#    AuthUserFile /var/www/vhosts/tenjikai.nippon-access.co.jp/admin/.htpasswd
#</IfModule>
#</IfModule>

RewriteEngine On


# ---------- https強制する場合 --------------------
#RewriteCond %{HTTPS} off
#環境によってはこちらの書き方
RewriteCond %{HTTP:X-Forwarded-Proto} =http

RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTP_HOST} !=127.0.0.1
RewriteCond %{HTTP_HOST} !^192\.168\.

#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#環境によってはこちらの書き方
RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
# ---------- https強制する場合 --------------------
