
.btn,
.navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 600;
  font-size: 0.8571em;
  line-height: 1.35em;
  text-transform: uppercase;
  border: none;
  margin: 10px 1px;
  border-radius: 3px;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #66615B;
  color: #FFFFFF;
  transition: all 150ms linear; }
  .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover,
  .show > .btn.dropdown-toggle,
  .show > .btn.dropdown-toggle:focus,
  .show > .btn.dropdown-toggle:hover,
  .navbar .navbar-nav > a.btn:hover,
  .navbar .navbar-nav > a.btn:focus,
  .navbar .navbar-nav > a.btn:active,
  .navbar .navbar-nav > a.btn.active,
  .navbar .navbar-nav > a.btn:active:focus,
  .navbar .navbar-nav > a.btn:active:hover,
  .navbar .navbar-nav > a.btn.active:focus,
  .navbar .navbar-nav > a.btn.active:hover,
  .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle,
  .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle:focus,
  .show >
  .navbar .navbar-nav > a.btn.dropdown-toggle:hover {
    background-color: #403D39 !important;
    color: #FFFFFF !important;
    box-shadow: none !important; }
  .btn:not([data-action]):hover,
  .navbar .navbar-nav > a.btn:not([data-action]):hover {
    box-shadow: none; }
  .btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active,
  fieldset[disabled] .btn,
  fieldset[disabled] .btn:hover,
  fieldset[disabled] .btn:focus,
  fieldset[disabled] .btn.focus,
  fieldset[disabled] .btn:active,
  fieldset[disabled] .btn.active,
  .navbar .navbar-nav > a.btn.disabled,
  .navbar .navbar-nav > a.btn.disabled:hover,
  .navbar .navbar-nav > a.btn.disabled:focus,
  .navbar .navbar-nav > a.btn.disabled.focus,
  .navbar .navbar-nav > a.btn.disabled:active,
  .navbar .navbar-nav > a.btn.disabled.active,
  .navbar .navbar-nav > a.btn:disabled,
  .navbar .navbar-nav > a.btn:disabled:hover,
  .navbar .navbar-nav > a.btn:disabled:focus,
  .navbar .navbar-nav > a.btn:disabled.focus,
  .navbar .navbar-nav > a.btn:disabled:active,
  .navbar .navbar-nav > a.btn:disabled.active,
  .navbar .navbar-nav > a.btn[disabled],
  .navbar .navbar-nav > a.btn[disabled]:hover,
  .navbar .navbar-nav > a.btn[disabled]:focus,
  .navbar .navbar-nav > a.btn[disabled].focus,
  .navbar .navbar-nav > a.btn[disabled]:active,
  .navbar .navbar-nav > a.btn[disabled].active,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn:hover,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn:focus,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn.focus,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn:active,
  fieldset[disabled]
  .navbar .navbar-nav > a.btn.active {
    background-color: #66615B;
    border-color: #66615B; }

  .btn.btn-simple,
  .navbar .navbar-nav > a.btn.btn-simple {
    color: #66615B;
    border-color: #66615B; }
    .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active,
    .navbar .navbar-nav > a.btn.btn-simple:hover,
    .navbar .navbar-nav > a.btn.btn-simple:focus,
    .navbar .navbar-nav > a.btn.btn-simple:active {
      background-color: transparent;
      color: #403D39;
      border-color: #403D39;
      box-shadow: none; }
  .btn.btn-link,
  .navbar .navbar-nav > a.btn.btn-link {
    color: #66615B; }
    .btn.btn-link:hover, .btn.btn-link:focus, .btn.btn-link:active, .btn.btn-link:active:focus,
    .navbar .navbar-nav > a.btn.btn-link:hover,
    .navbar .navbar-nav > a.btn.btn-link:focus,
    .navbar .navbar-nav > a.btn.btn-link:active,
    .navbar .navbar-nav > a.btn.btn-link:active:focus {
      background-color: transparent;
      color: #403D39;
      text-decoration: none;
      box-shadow: none; }
  .btn:hover, .btn:focus,
  .navbar .navbar-nav > a.btn:hover,
  .navbar .navbar-nav > a.btn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important; }
  .btn:active, .btn.active,
  .open > .btn.dropdown-toggle,
  .navbar .navbar-nav > a.btn:active,
  .navbar .navbar-nav > a.btn.active,
  .open >
  .navbar .navbar-nav > a.btn.dropdown-toggle {
    box-shadow: none;
    outline: 0 !important; }
  .btn .badge,
  .navbar .navbar-nav > a.btn .badge {
    margin: 0; }
  .btn.btn-icon,
  .navbar .navbar-nav > a.btn.btn-icon {
    height: 2.375rem;
    min-width: 2.375rem;
    width: 2.375rem;
    padding: 0;
    font-size: 0.9375rem;
    overflow: hidden;
    position: relative;
    line-height: normal; }
    .btn.btn-icon.btn-simple,
    .navbar .navbar-nav > a.btn.btn-icon.btn-simple {
      padding: 0; }
    .btn.btn-icon.btn-sm,
    .navbar .navbar-nav > a.btn.btn-icon.btn-sm {
      height: 1.875rem;
      min-width: 1.875rem;
      width: 1.875rem; }
      .btn.btn-icon.btn-sm .fa,
      .btn.btn-icon.btn-sm .far,
      .btn.btn-icon.btn-sm .fas,
      .btn.btn-icon.btn-sm .nc-icon,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .far,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .fas,
      .navbar .navbar-nav > a.btn.btn-icon.btn-sm .nc-icon {
        font-size: 0.6875rem; }
    .btn.btn-icon.btn-lg,
    .navbar .navbar-nav > a.btn.btn-icon.btn-lg {
      height: 3.6rem;
      min-width: 3.6rem;
      width: 3.6rem; }
      .btn.btn-icon.btn-lg .fa,
      .btn.btn-icon.btn-lg .far,
      .btn.btn-icon.btn-lg .fas,
      .btn.btn-icon.btn-lg .nc-icon,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .fa,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .far,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .fas,
      .navbar .navbar-nav > a.btn.btn-icon.btn-lg .nc-icon {
        font-size: 1.325rem; }
    .btn.btn-icon:not(.btn-footer) .nc-icon,
    .btn.btn-icon:not(.btn-footer) .fa,
    .btn.btn-icon:not(.btn-footer) .far,
    .btn.btn-icon:not(.btn-footer) .fas,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .nc-icon,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fa,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .far,
    .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fas {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-12px, -12px);
      line-height: 1.5626rem;
      width: 24px; }
    .btn.btn-icon.btn-neutral,
    .navbar .navbar-nav > a.btn.btn-icon.btn-neutral {
      font-size: 20px; }
  .btn:not(.btn-icon) .nc-icon,
  .navbar .navbar-nav > a.btn:not(.btn-icon) .nc-icon {
    position: relative;
    top: 1px; }

.btn-primary {
  background-color: #51cbce;
  color: #FFFFFF; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover,
  .show > .btn-primary.dropdown-toggle,
  .show > .btn-primary.dropdown-toggle:focus,
  .show > .btn-primary.dropdown-toggle:hover {
    background-color: #34b5b8 !important;
    color: #FFFFFF !important;
    box-shadow: none !important; }
  .btn-primary:not([data-action]):hover {
    box-shadow: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary.active {
    background-color: #51cbce;
    border-color: #51cbce; }
  .btn-primary.btn-simple {
    color: #51cbce;
    border-color: #51cbce; }
    .btn-primary.btn-simple:hover, .btn-primary.btn-simple:focus, .btn-primary.btn-simple:active {
      background-color: transparent;
      color: #34b5b8;
      border-color: #34b5b8;
      box-shadow: none; }
  .btn-primary.btn-link {
    color: #51cbce; }
    .btn-primary.btn-link:hover, .btn-primary.btn-link:focus, .btn-primary.btn-link:active, .btn-primary.btn-link:active:focus {
      background-color: transparent;
      color: #34b5b8;
      text-decoration: none;
      box-shadow: none; }

.btn-group .btn + .btn {
  margin-left: -3px; }

.btn-group .btn:focus {
  background-color: #51bcda !important; }

.btn-round {
  border-width: 1px;
  border-radius: 30px;
  padding-right: 23px;
  padding-left: 23px; }
  .btn-round {
    padding: 10px 22px; }

.form {
  float: left;
  width: 78%;
  margin-right: 2%;
  margin-top: 9px; }

button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

a {
  color: #51cbce; }
  a:hover, a:focus {
    color: #51cbce; }

h1, .h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-bottom: 30px; }
  h1 small, .h1 small {
    font-weight: 700;
    text-transform: uppercase;
    opacity: .8; }

h2, .h2 {
  font-size: 2.5em;
  margin-bottom: 30px; }

h3, .h3 {
  font-size: 2em;
  margin-bottom: 30px;
  line-height: 1.4em; }

h4, .h4 {
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 30px;
  margin-bottom: 15px; }
  h4 + .category,
  h4.title + .category, .h4 + .category,
  .h4.title + .category {
    margin-top: -10px; }

h5, .h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px; }

h6, .h6 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase; }

.title {
  font-weight: 700; }
  .title.title-up {
    text-transform: uppercase; }
    .title.title-up a {
      color: #2c2c2c;
      text-decoration: none; }
  .title + .category {
    margin-top: -10px; }


.card .footer .stats {
  color: #9A9A9A;
  font-weight: 300; }

.text-primary,
a.text-primary:focus, a.text-primary:hover {
  color: #51cbce !important; }

.text-info,
a.text-info:focus, a.text-info:hover {
  color: #51bcda !important; }

.text-success,
a.text-success:focus, a.text-success:hover {
  color: #6bd098 !important; }

.text-warning,
a.text-warning:focus, a.text-warning:hover {
  color: #fbc658 !important; }

.text-danger,
a.text-danger:focus, a.text-danger:hover {
  color: #ef8157 !important; }

.text-gray,
a.text-gray:focus, a.text-gray:hover {
  color: #E3E3E3 !important; }


body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

  .navbar.navbar-transparent {
  padding-top: 25px;
  border-bottom: none; }
  .navbar.navbar-transparent .navbar-minimize {
    display: none; }
  .navbar.navbar-transparent .navbar-brand,
  .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
    color: #FFFFFF !important; }

.navbar {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  min-height: 53px;
  margin-bottom: 20px; }
  .navbar a {
    vertical-align: middle; }
    .navbar a:not(.btn):not(.dropdown-item) {
      color: #FFFFFF; }
    .navbar a.dropdown-item {
      color: #66615B; }
  .navbar.bg-white .input-group .form-control,
  .navbar.bg-white .input-group.no-border .form-control {
    color: #66615B; }
    .navbar.bg-white .input-group .form-control::-moz-placeholder,
    .navbar.bg-white .input-group.no-border .form-control::-moz-placeholder {
      color: #66615B; }
    .navbar.bg-white .input-group .form-control:-ms-input-placeholder,
    .navbar.bg-white .input-group.no-border .form-control:-ms-input-placeholder {
      color: #66615B; }
    .navbar.bg-white .input-group .form-control::-webkit-input-placeholder,
    .navbar.bg-white .input-group.no-border .form-control::-webkit-input-placeholder {
      color: #66615B; }
  .navbar.bg-white .input-group-prepend .input-group-text i,
  .navbar.bg-white .input-group-append .input-group-text i {
    color: #66615B;
    opacity: .5; }
  .navbar .form-group,
  .navbar .input-group {
    margin: 0;
    margin-left: -3px;
    margin-right: 5px; }
    .navbar .form-group .form-group-addon,
    .navbar .form-group .input-group-prepend .input-group-text,
    .navbar .form-group .input-group-append .input-group-text,
    .navbar .input-group .form-group-addon,
    .navbar .input-group .input-group-prepend .input-group-text,
    .navbar .input-group .input-group-append .input-group-text {
      color: #66615B; }
      .navbar .form-group .form-group-addon i,
      .navbar .form-group .input-group-prepend .input-group-text i,
      .navbar .form-group .input-group-append .input-group-text i,
      .navbar .input-group .form-group-addon i,
      .navbar .input-group .input-group-prepend .input-group-text i,
      .navbar .input-group .input-group-append .input-group-text i {
        opacity: 1; }
    .navbar .form-group.no-border .form-control,
    .navbar .input-group.no-border .form-control {
      color: #66615B; }
      .navbar .form-group.no-border .form-control::-moz-placeholder,
      .navbar .input-group.no-border .form-control::-moz-placeholder {
        color: #66615B; }
      .navbar .form-group.no-border .form-control:-ms-input-placeholder,
      .navbar .input-group.no-border .form-control:-ms-input-placeholder {
        color: #66615B; }
      .navbar .form-group.no-border .form-control::-webkit-input-placeholder,
      .navbar .input-group.no-border .form-control::-webkit-input-placeholder {
        color: #66615B; }
  .navbar p {
    display: inline-block;
    margin: 0;
    line-height: 1.8em;
    font-size: 1em;
    font-weight: 400; }
  .navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    z-index: 1029; }
  .documentation .navbar.fixed-top {
    left: 0;
    width: initial; }
  .navbar .navbar-wrapper {
    display: inline-flex;
    align-items: center; }
    .navbar .navbar-wrapper .navbar-minimize {
      padding-right: 10px; }
      .navbar .navbar-wrapper .navbar-minimize .btn {
        margin: 0; }
    .navbar .navbar-wrapper .navbar-toggle .navbar-toggler {
      padding-left: 0; }
    .navbar .navbar-wrapper .navbar-toggle:hover .navbar-toggler-bar.bar2 {
      width: 22px; }
  .navbar .navbar-nav.navbar-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 49px;
    top: -4px; }
  .navbar .navbar-nav .nav-link.btn {
    padding: 11px 22px; }
    .navbar .navbar-nav .nav-link.btn.btn-lg {
      padding: 15px 48px; }
    .navbar .navbar-nav .nav-link.btn.btn-sm {
      padding: 5px 15px; }
  .navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
    margin-right: 3px; }
    .navbar .navbar-nav .nav-link i.fa + p,
    .navbar .navbar-nav .nav-link i.nc-icon + p {
      margin-left: 3px; }
    .navbar .navbar-nav .nav-link i.fa,
    .navbar .navbar-nav .nav-link i.nc-icon {
      font-size: 18px;
      position: relative;
      top: 3px;
      text-align: center;
      width: 21px; }
    .navbar .navbar-nav .nav-link i.nc-icon {
      top: 4px;
      font-size: 16px; }
    .navbar .navbar-nav .nav-link.profile-photo .profile-photo-small {
      width: 27px;
      height: 27px; }
    .navbar .navbar-nav .nav-link.disabled {
      opacity: .5;
      color: #FFFFFF; }
  .navbar .navbar-nav .nav-item.active .nav-link:not(.btn),
  .navbar .navbar-nav .nav-item .nav-link:not(.btn):focus,
  .navbar .navbar-nav .nav-item .nav-link:not(.btn):hover,
  .navbar .navbar-nav .nav-item .nav-link:not(.btn):active {
    border-radius: 3px;
    color: #66615B; }
  .navbar .logo-container {
    width: 27px;
    height: 27px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent; }
  .navbar .navbar-brand {
    text-transform: capitalize;
    font-size: 36px;
    padding-top: 0;
    padding-bottom: 0.5rem;
    line-height: 1.625rem; }
  .navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    vertical-align: middle;
    outline: 0;
    cursor: pointer; }
    .navbar .navbar-toggler .navbar-toggler-bar.navbar-kebab {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      margin: 0 auto; }
  .navbar .button-dropdown .navbar-toggler-bar:nth-child(2) {
    width: 17px; }
  .navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    border-bottom: 1px solid #ddd; }
    .navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
      color: #66615B; }
      .navbar.navbar-transparent a:not(.dropdown-item):not(.btn).disabled {
        opacity: .5;
        color: #66615B; }
    .navbar.navbar-transparent .button-bar {
      background: #66615B; }
    .navbar.navbar-transparent .nav-item .nav-link:not(.btn) {
      color: #66615B; }
    .navbar.navbar-transparent .nav-item.active .nav-link:not(.btn),
    .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus,
    .navbar.navbar-transparent .nav-item .nav-link:not(.btn):hover,
    .navbar.navbar-transparent .nav-item .nav-link:not(.btn):focus:hover,
    .navbar.navbar-transparent .nav-item .nav-link:not(.btn):active {
      color: #51cbce; }
  .navbar.bg-white a:not(.dropdown-item):not(.btn) {
    color: #66615B; }
    .navbar.bg-white a:not(.dropdown-item):not(.btn).disabled {
      opacity: .5;
      color: #66615B; }
  .navbar.bg-white .button-bar {
    background: #66615B; }
  .navbar.bg-white .nav-item.active .nav-link:not(.btn),
  .navbar.bg-white .nav-item .nav-link:not(.btn):focus,
  .navbar.bg-white .nav-item .nav-link:not(.btn):hover,
  .navbar.bg-white .nav-item .nav-link:not(.btn):active {
    color: #51bcda; }
  .navbar.bg-white .logo-container {
    border: 1px solid #66615B; }
  .navbar .navbar-collapse .nav-item a {
    font-size: 14px; }


img {
  max-width: 100%;
  border-radius: 3px; }

.table .img-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }

.table .img-row {
  max-width: 60px;
  width: 60px; }

.table .form-check {
  margin: 0; }
  .table .form-check label .form-check-sign::before,
  .table .form-check label .form-check-sign::after {
    top: -17px;
    left: 4px; }

.table .btn {
  margin: 0; }

.table small, .table .small {
  font-weight: 300; }

.card-tasks .card-body .table {
  margin-bottom: 0; }
  .card-tasks .card-body .table > thead > tr > th,
  .card-tasks .card-body .table > tbody > tr > th,
  .card-tasks .card-body .table > tfoot > tr > th,
  .card-tasks .card-body .table > thead > tr > td,
  .card-tasks .card-body .table > tbody > tr > td,
  .card-tasks .card-body .table > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0; }

.table > thead > tr > th {
  width: 13%;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0;
  text-transform: uppercase;
  border: 0; }

.table .radio,
.table .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 15px; }
  .table .radio .icons,
  .table .checkbox .icons {
    position: relative; }
  .table .radio label:after, .table .radio label:before,
  .table .checkbox label:after,
  .table .checkbox label:before {
    top: -17px;
    left: -3px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px 7px;
  vertical-align: middle; }

.table .th-description {
  max-width: 150px; }

.table .td-price {
  font-size: 26px;
  font-weight: 300;
  margin-top: 5px;
  position: relative;
  top: 4px;
  text-align: right; }

.table .td-total {
  font-weight: 700;
  font-size: 1.57em;
  padding-top: 20px;
  text-align: right; }

.table .td-actions .btn {
  margin: 0px; }

.table > tbody > tr {
  position: relative; }

.table-responsive {
  overflow: scroll;
  padding-bottom: 10px; }

.table-responsive {
  margin-bottom: 30px; }

.wrapper {
  position: relative;
  top: 0;
  height: 100vh; }
  .wrapper.wrapper-full-page {
    min-height: 100vh;
    height: auto; }

.sidebar,
.off-canvas-sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 260px;
  left: 0;
  z-index: 1030;
  border-right: 1px solid #ddd; }
  .sidebar .sidebar-wrapper,
  .off-canvas-sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px; }
    .sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,
    .off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
      display: none !important; }
    .sidebar .sidebar-wrapper .navbar-form,
    .off-canvas-sidebar .sidebar-wrapper .navbar-form {
      border: none; }
  .sidebar .navbar-minimize,
  .off-canvas-sidebar .navbar-minimize {
    position: absolute;
    right: 20px;
    top: 2px;
    opacity: 1; }
  .sidebar .logo-tim,
  .off-canvas-sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden; }
    .sidebar .logo-tim img,
    .off-canvas-sidebar .logo-tim img {
      width: 60px;
      height: 60px; }
  .sidebar .nav,
  .off-canvas-sidebar .nav {
    margin-top: 20px;
    display: block; }
    .sidebar .nav .caret,
    .off-canvas-sidebar .nav .caret {
      top: 14px;
      position: absolute;
      right: 10px; }
    .sidebar .nav li > a + div .nav li > a,
    .off-canvas-sidebar .nav li > a + div .nav li > a {
      margin-top: 7px; }
    .sidebar .nav li > a,
    .off-canvas-sidebar .nav li > a {
      margin: 10px 15px 0;
      color: #FFFFFF;
      display: block;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 12px;
      padding: 10px 8px;
      line-height: 30px;
      opacity: .7; }
    .sidebar .nav li .nav > li > a,
    .off-canvas-sidebar .nav li .nav > li > a {
      padding: 5px 8px; }
    .sidebar .nav li.active > a,
    .sidebar .nav li.active > a > i,
    .off-canvas-sidebar .nav li.active > a,
    .off-canvas-sidebar .nav li.active > a > i {
      opacity: 1; }
    .sidebar .nav li:hover:not(.active) > a,
    .sidebar .nav li:focus:not(.active) > a,
    .off-canvas-sidebar .nav li:hover:not(.active) > a,
    .off-canvas-sidebar .nav li:focus:not(.active) > a {
      opacity: 1; }
    .sidebar .nav i,
    .off-canvas-sidebar .nav i {
      font-size: 24px;
      float: left;
      margin-right: 12px;
      line-height: 30px;
      width: 34px;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      position: relative; }
    .sidebar .nav p,
    .off-canvas-sidebar .nav p {
      margin-bottom: 0; }
    .sidebar .nav .collapse .nav,
    .sidebar .nav .collapsing .nav,
    .off-canvas-sidebar .nav .collapse .nav,
    .off-canvas-sidebar .nav .collapsing .nav {
      margin-top: 0; }
  .sidebar .sidebar-background,
  .off-canvas-sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center; }
    .sidebar .sidebar-background:after,
    .off-canvas-sidebar .sidebar-background:after {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      background: #FFFFFF;
      opacity: 1; }
  .sidebar .logo,
  .off-canvas-sidebar .logo {
    position: relative;
    padding: 7px 0.7rem;
    z-index: 4; }
    .sidebar .logo a.logo-mini,
    .off-canvas-sidebar .logo a.logo-mini {
      opacity: 1;
      float: left;
      width: 34px;
      text-align: center;
      margin-left: 10px;
      margin-right: 12px; }
    .sidebar .logo a.logo-normal,
    .off-canvas-sidebar .logo a.logo-normal {
      display: block;
      opacity: 1;
      padding: 11px 0 8px;
      transform: translate3d(0px, 0, 0); }
    .sidebar .logo:after,
    .off-canvas-sidebar .logo:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: rgba(255, 255, 255, 0.5); }
    .sidebar .logo p,
    .off-canvas-sidebar .logo p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      color: #FFFFFF;
      line-height: 20px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .sidebar .logo .simple-text,
    .off-canvas-sidebar .logo .simple-text {
      text-transform: uppercase;
      padding: 0.5rem 0;
      display: block;
      white-space: nowrap;
      font-size: 1rem;
      color: #FFFFFF;
      text-decoration: none;
      font-weight: 400;
      line-height: 30px;
      overflow: hidden; }
  .sidebar .logo-tim,
  .off-canvas-sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden; }
    .sidebar .logo-tim img,
    .off-canvas-sidebar .logo-tim img {
      width: 60px;
      height: 60px; }
  .sidebar:before, .sidebar:after,
  .off-canvas-sidebar:before,
  .off-canvas-sidebar:after {
    display: block;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .sidebar:after,
  .off-canvas-sidebar:after {
    background: #66615B;
    background: linear-gradient(#66615B 0%, #000 80%);
    z-index: 3; }
  .sidebar[data-color="white"]:after,
  .off-canvas-sidebar[data-color="white"]:after {
    background: #FFFFFF; }
  .sidebar[data-color="white"] .nav li a,
  .sidebar[data-color="white"] .nav li a i,
  .sidebar[data-color="white"] .nav li a[data-toggle="collapse"],
  .sidebar[data-color="white"] .nav li a[data-toggle="collapse"] i,
  .sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li .sidebar-mini-icon,
  .sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li > a,
  .off-canvas-sidebar[data-color="white"] .nav li a,
  .off-canvas-sidebar[data-color="white"] .nav li a i,
  .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"],
  .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li .sidebar-mini-icon,
  .off-canvas-sidebar[data-color="white"] .nav li a[data-toggle="collapse"] ~ div > ul > li > a {
    color: #66615B;
    opacity: .7; }
  .sidebar[data-color="white"] .nav li:hover:not(.active) > a,
  .sidebar[data-color="white"] .nav li:focus:not(.active) > a,
  .off-canvas-sidebar[data-color="white"] .nav li:hover:not(.active) > a,
  .off-canvas-sidebar[data-color="white"] .nav li:focus:not(.active) > a {
    opacity: 1; }
  .sidebar[data-color="white"] .logo .simple-text,
  .off-canvas-sidebar[data-color="white"] .logo .simple-text {
    color: #66615B; }
  .sidebar[data-color="white"] .logo:after,
  .off-canvas-sidebar[data-color="white"] .logo:after {
    background-color: #66615B;
    opacity: .4; }
  .sidebar[data-color="white"] .user .info a span,
  .sidebar[data-color="white"] .user .nav .sidebar-mini-icon,
  .sidebar[data-color="white"] .user .nav .sidebar-normal,
  .off-canvas-sidebar[data-color="white"] .user .info a span,
  .off-canvas-sidebar[data-color="white"] .user .nav .sidebar-mini-icon,
  .off-canvas-sidebar[data-color="white"] .user .nav .sidebar-normal {
    color: #66615B !important; }
  .sidebar[data-color="white"] .user:after,
  .off-canvas-sidebar[data-color="white"] .user:after {
    background-color: #66615B;
    opacity: .4; }
  .sidebar[data-color="black"]:after,
  .off-canvas-sidebar[data-color="black"]:after {
    background: #212120; }
  .sidebar[data-active-color="primary"] .nav li.active > a,
  .sidebar[data-active-color="primary"] .nav li.active > a i,
  .sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"],
  .sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"] i,
  .sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a,
  .off-canvas-sidebar[data-active-color="primary"] .nav li.active > a,
  .off-canvas-sidebar[data-active-color="primary"] .nav li.active > a i,
  .off-canvas-sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"],
  .off-canvas-sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .off-canvas-sidebar[data-active-color="primary"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
    color: #51cbce;
    opacity: 1; }
  .sidebar[data-active-color="info"] .nav li.active > a,
  .sidebar[data-active-color="info"] .nav li.active > a i,
  .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"],
  .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] i,
  .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a,
  .off-canvas-sidebar[data-active-color="info"] .nav li.active > a,
  .off-canvas-sidebar[data-active-color="info"] .nav li.active > a i,
  .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"],
  .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .off-canvas-sidebar[data-active-color="info"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
    color: #51bcda;
    opacity: 1; }
  .sidebar[data-active-color="success"] .nav li.active > a,
  .sidebar[data-active-color="success"] .nav li.active > a i,
  .sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"],
  .sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"] i,
  .sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a,
  .off-canvas-sidebar[data-active-color="success"] .nav li.active > a,
  .off-canvas-sidebar[data-active-color="success"] .nav li.active > a i,
  .off-canvas-sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"],
  .off-canvas-sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .off-canvas-sidebar[data-active-color="success"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
    color: #6bd098;
    opacity: 1; }
  .sidebar[data-active-color="warning"] .nav li.active > a,
  .sidebar[data-active-color="warning"] .nav li.active > a i,
  .sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"],
  .sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"] i,
  .sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a,
  .off-canvas-sidebar[data-active-color="warning"] .nav li.active > a,
  .off-canvas-sidebar[data-active-color="warning"] .nav li.active > a i,
  .off-canvas-sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"],
  .off-canvas-sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .off-canvas-sidebar[data-active-color="warning"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
    color: #fbc658;
    opacity: 1; }
  .sidebar[data-active-color="danger"] .nav li.active > a,
  .sidebar[data-active-color="danger"] .nav li.active > a i,
  .sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"],
  .sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"] i,
  .sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a,
  .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a,
  .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a i,
  .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"],
  .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
    color: #ef8157;
    opacity: 1; }
  .sidebar[data-active-color="default"] .nav li.active > a,
  .sidebar[data-active-color="default"] .nav li.active > a i,
  .sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"],
  .sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"] i,
  .sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a,
  .off-canvas-sidebar[data-active-color="default"] .nav li.active > a,
  .off-canvas-sidebar[data-active-color="default"] .nav li.active > a i,
  .off-canvas-sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"],
  .off-canvas-sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"] i,
  .off-canvas-sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active .sidebar-mini-icon,
  .off-canvas-sidebar[data-active-color="default"] .nav li.active > a[data-toggle="collapse"] ~ div > ul > li.active > a {
    color: #66615B;
    opacity: 1; }

.nav > li > a,
.nav > li > a:hover {
  color: #FFFFFF; }

.nav > li > a:focus {
  background: rgba(200, 200, 200, 0.2); }

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); }
  .main-panel > .content {
    padding: 0 30px 30px;
    min-height: calc(100vh - px);
    margin-top: 70px; }
  .main-panel > .navbar {
    margin-bottom: 0; }
  .main-panel .header {
    margin-bottom: 50px; }

.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease; }
  .card .card-body {
    padding: 15px 15px 10px 15px; }
    .card .card-body.table-full-width {
      padding-left: 0;
      padding-right: 0; }
  .card .card-header {
    padding: 15px 15px 0;
    border: 0; }
    .card .card-header:not([data-background-color]) {
      background-color: transparent; }
    .card .card-header .card-title {
      margin-top: 10px; }
  .card .map {
    border-radius: 3px; }
    .card .map.map-big {
      height: 500px; }
  .card[data-background-color="orange"] {
    background-color: #51cbce; }
    .card[data-background-color="orange"] .card-header {
      background-color: #51cbce; }
    .card[data-background-color="orange"] .card-footer .stats {
      color: #FFFFFF; }
  .card[data-background-color="red"] {
    background-color: #ef8157; }
  .card[data-background-color="yellow"] {
    background-color: #fbc658; }
  .card[data-background-color="blue"] {
    background-color: #51bcda; }
  .card[data-background-color="green"] {
    background-color: #6bd098; }
  .card .image {
    overflow: hidden;
    height: 200px;
    position: relative; }
  .card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px; }
  .card .numbers {
    font-size: 2em; }
  .card .big-title {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 15px; }
  .card label {
    font-size: 0.8571em;
    margin-bottom: 5px;
    color: #9A9A9A; }
  .card .card-footer {
    background-color: transparent;
    border: 0; }
    .card .card-footer .stats i {
      margin-right: 5px;
      position: relative;
      top: 0px;
      color: #66615B; }
    .card .card-footer .btn {
      margin: 0; }
  .card.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }
    .card.card-plain .card-body {
      padding-left: 5px;
      padding-right: 5px; }
    .card.card-plain img {
      border-radius: 12px; }

.card-chart .card-header .card-title {
  margin-top: 10px;
  margin-bottom: 0; }

.card-chart .card-header .card-category {
  margin-bottom: 5px; }

.card-chart .table {
  margin-bottom: 0; }
  .card-chart .table td {
    border-top: none;
    border-bottom: 1px solid #e9ecef; }

.card-user .card-body {
  min-height: 240px; }

.card-user .card-body + .card-footer {
  padding-top: 0; }

.card-stats .card-body {
  padding: 15px 15px 0px; }
  .card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em; }
    .card-stats .card-body .numbers p {
      margin-bottom: 0; }
    .card-stats .card-body .numbers .card-category {
      color: #9A9A9A;
      font-size: 16px;
      line-height: 1.4em; }

