{literal}
<script>
function _regist(){
  document.form_edit.submit();
}

</script>
{/literal}

<div class="inner_wrap">
  {if $err_msg.0 !=''}
      <div class="errArea">
          {foreach from=$err_msg item=msg}
              {$msg|escape}<br>
          {/foreach}
      </div><br>
  {elseif $success_msg!=""}
      <div class="successArea">{$success_msg|escape}</div>
  {/if}

  <form name="form_edit" action="./?page={$page|escape}" method="post" onSubmit="return false;">
  <input type="hidden" name="exec" value="save">
  <input type="hidden" name="token" value="{$token|escape}">
  <input type="hidden" name="id" value="{$id|escape}">

    <div class="msr_text_01">
      <label>担当者名</label>
      <div>
        {$admin_name|escape}
      </div>
    </div>
    <br>

    <div class="msr_text_01">
      <label>新しいパスワード</label>
      <input type="password" name="admin_login_pass" />
    </div>

    <div class="msr_text_01">
      <label>新しいパスワード（確認用）</label>
      <input type="password" name="admin_login_pass_chk" />
    </div>


    <p class="msr_btn15">
      <a href="javascript:_regist();void(0);">変更する</a>
    </p>

  </form>

</div>
