        <div class="row" style="margin-top:10px;">
          <div class="col-md-12">
            <div class="card">
            {if $select_event_id!=""}
              {if count($event_syoutai_yotei_ymd_array) > 0}
              <div class="card-header">
                <h4 class="card-title">累計期間</h4>
                <ul class="list-group list-group-horizontal mb-4">
                  {foreach from=$event_syoutai_yotei_ymd_array item=ymd name=event_syoutai_yotei_ymd}
                  <li class="h5 my-1">{$ymd|escape}{if !$smarty.foreach.event_syoutai_yotei_ymd.last}、{/if}</li>
                  {/foreach}
                </ul>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">大分類別-入場者数</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th style="color:#000000;">
                        時刻
                      </th>
                      {foreach from=$_conf_big_cate1 item=big_cate_name}
                        <th>{$big_cate_name|escape}</th>
                      {/foreach}
                      <th>
                        合計(招待)
                      </th>
                      {foreach from=$_conf_big_cate2_html item=big_cate_name}
                        <th style="color:#6666ff;">{$big_cate_name}</th>
                      {/foreach}
                      <th style="color:#000000;">
                        入場<br>合計
                      </th>
                      <th style="color:#ff7777;">
                        退場
                      </th>
                    </thead>
                    <tbody>
                      {foreach from=$main_recs item=rec}
                        <tr>
                          <td>
                            {$rec.time|escape}
                          </td>
                          {foreach from=$_conf_big_cate1 key=bcate_id item=bcate_name}
                          <td>
                            {$rec[$bcate_id]|escape}
                          </td>
                          {/foreach}
                          <td>
                            {$rec.b_goukei|escape}
                          </td>
                          {foreach from=$_conf_big_cate2_html key=bcate_id item=bcate_name}
                          <td>
                            {$rec[$bcate_id]|escape}
                          </td>
                          {/foreach}
                          <td>
                            {$rec.all_goukei|escape}
                          </td>
                          <td>
                            {$rec.taijyou_cnt|escape}
                          </td>
                        </tr>
                      {/foreach}
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card-header">
                <h4 class="card-title">担当エリア別-入場者数（招待者）</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <tr>
                        <th>時間帯</th>
                        {foreach from=$m_tantou_area key=k item=v}
                          <th>{$v|escape}</th>
                        {/foreach}
                        <th>担当エリア別_合計</th>
                      </tr>
                    </thead>
                    <tbody>
                      {foreach from=$area_summary key=k item=row name=summary}
                        <tr>
                          <td>
                            {if $smarty.foreach.summary.last}
                              エリア別招待者_合計
                            {else}
                              {$row.time|escape}
                            {/if}
                          </td>
                          {foreach from=$m_tantou_area key=tk item=tv}
                            <td>{$row[$tk]|escape}</td>
                          {/foreach}
                          <td>{$row.total|escape}</td>
                        </tr>
                      {/foreach}
                    </tbody>
                  </table>
                </div>
              </div>

              {else}
                <div style="padding-left: 5em;">
                  <br><br><br><br>
                  <span>イベント管理から(招待者)来場予定日時を設定してください</span>
                  <br><br>
                  <button type="button" onClick="location.href='?page=event_edit&id={$select_event_rec.event_id}';" class="btn btn-primary btn-round" style="width:200px;">設定を行う</button>
                  <br><br><br><br><br>
                </div>
              {/if}
            {else}
              {include file="$_SYSTEM_ROOT_DIR/admin/templates/parts/select_event.html"}
            {/if}
            </div>
          </div>



        </div>