{if $page_flg != 0}
<div style="font-size: 12px;">
  {if $page_back == 1}
    <a class="a-syoutai" href="javascript:_pageChange('{$offset_first}');void(0);">&lt;&lt;最初へ</a>&nbsp;
    <a class="a-syoutai" href="javascript:_pageChange('{$offset_back}');void(0);">&lt;前へ</a>
  {/if}
  {if $start_dot == 1}<a class="a-syoutai" href="javascript:_pageChange('{$offset_back_page}');void(0);">…</a>{/if}
  {foreach from=$page_navi item=navi name=page_roop}
    {if $navi.link != 0}
      <a class="a-syoutai" href="javascript:_pageChange('{$navi.offset}');void(0);">{$navi.page_num}</a>
    {else}
      {$navi.page_num}
    {/if}
    {if $navi.separator == 1}
      |
    {/if}
  {/foreach}
  {if $end_dot == 1}<a class="a-syoutai" href="index.php?page={$page}&offset={$offset_next_page}">…</a>{/if}
  {if $page_next == 1}
    <a class="a-syoutai" href="javascript:_pageChange('{$offset_next}');void(0);">次へ&gt;</a>&nbsp;
    <a class="a-syoutai" href="javascript:_pageChange('{$offset_last}');void(0);">最後へ&gt;&gt;</a>
  {/if}
  <br>
  ({$count|intval}件中　{$st_count|intval}件～{$en_count|intval}件目)
</div>
{/if}
