{literal}
<script>
var select_event_id = '{/literal}{$select_event_id|escape}{literal}';

</script>
{/literal}
　<br>
  {if $err_msg.0 !=''}
    <div class="errArea">
      {foreach from=$err_msg item=msg}
        {$msg|escape}<br>
      {/foreach}
    </div><br>
  {elseif $success_msg!=""}
    <div class="successArea">{$success_msg|escape}</div>
  {/if}

    <div class="col-md-12">
      <div class="card">
        <br><br><br><br>
        　　　　　送信予約完了
        <br><br><br><br><br>
        <button type="button" style="width:250px;margin-left:60px;" class="btn btn-primary btn-round" onClick="location.href='?page=user_mail_send_list';">一覧へ戻る</button>
      </div>
    </div>
