{if $err_msg.0 !=''}
    <div class="errArea">
    {foreach from=$err_msg item=msg}
        {$msg|escape}<br>
    {/foreach}
    </div>
{elseif $success_msg!=""}
    <div class="successArea">{$success_msg}</div>
{/if}

<div class="inner">
<form class="registration-form" name="form_edit" action="./?page={$page}" method="post">
<input type="hidden" name="exec" value="save">
<input type="hidden" name="token" value="{$token|escape}">

<div class="form-group">
<div class="row">
  <div class="col-6">
    <label for="user_name" class="fact-title">お名前<span>必須</span></label>
    <input type="text" class="form-control" name="user_name" value="{$user_name|escape}" id="user_name" placeholder="姓">
  </div>
</div>
</div>
<span class="form-spacer"></span>
<div class="form-group">
<label for="user_kigyou_name" class="fact-title">会社名<span>必須</span></label>
<input type="text" class="form-control" name="user_kigyou_name" value="{$user_kigyou_name|escape}" id="user_kigyou_name" placeholder="（例）株式会社日本アクセス">
</div>
<span class="form-spacer"></span>
<div class="form-group">
<label for="user_big_cate" class="fact-title">業種<span>必須</span></label>
<!-- {*
<div class="col-6">
  {$big_cate_name|escape}
</div>
*} -->
<div class="selectbox_outer">
<select name="user_big_cate" id="user_big_cate" class="selectbox">
  <option value="" disabled selected>選択してください。</option>
  {html_options options=$_conf_big_cate1_web selected=$user_big_cate}
</select>
</div>
</div>
<span class="form-spacer"></span>
<div class="form-group">
  <div class="row">
    <div class="col-6">
      <label for="user_busyo" class="fact-title">部署<span>必須</span></label>
      <input type="text" class="form-control" name="user_busyo" value="{$user_busyo|escape}" id="user_busyo" placeholder="（例）商品部">
    </div>
    <div class="col-6">
      <label for="user_yakusyoku" class="fact-title">役職 任意</label>
      <input type="text" class="form-control" name="user_yakusyoku" value="{$user_yakusyoku|escape}" id="user_yakusyoku" placeholder="（例）バイヤー">
    </div>
  </div>
</div>
<span class="form-spacer"></span>
<div class="form-group">
<label for="user_pass" class="fact-title">パスワード<br>（変更する場合入力してください）</label>
<span class="note_text">※半角英数4文字以上</span>
<input type="password" class="form-control" name="user_pass" value="{$user_pass|escape}" id="user_pass" placeholder="パスワード">
</div>
<span class="form-spacer"></span>
<div class="form-group">
<label for="user_pass_chk" class="fact-title">確認のためもう一度入力してください。<br>（変更する場合入力してください）</label>
<span class="note_text">※半角英数4文字以上</span>
<input type="password" class="form-control" name="user_pass_chk" value="{$user_pass_chk|escape}" id="user_pass_chk" placeholder="パスワード確認用">
</div>
<div class="button-area">
<button type="submit" class="blue-button t-hover"><span>この内容で変更する</span></button>
</div>
</form>
</div>
