<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$event_rec.event_name|escape}-事前アンケート</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../../css/style.css">

{literal}
<script>
  function _ans(ans){
    document.form_edit.ans.value = ans;
    document.form_edit.submit();
  }
</script>
{/literal}

</head>

<body class="c2">

<header>
  {include file="$_SYSTEM_ROOT_DIR/mypage/templates/mypage_header.html"}
</header>

<div class="inner_wrap">




    <h1 class="msr_h103">事前アンケート</h1>
    <div class="msr_radio_01">
      {if $exec=="save"}
           アンケートご回答にご協力いただき誠にありがとございました。<br>
      {elseif $kaitou_ok == true}
        「{$event_rec.event_name|escape}」へ本日（{$disp_ymd|escape}）ご来場される場合、以下の事前アンケートにご協力ください。<br>
        <br>
        <form name="form_edit" action="./?page=jizen_ans&ymd={$ymd|escape}" method="post" onSubmit="return false;">
        <input type="hidden" name="exec" value="save">
        <input type="hidden" name="ans" value="">
              <h2 id="kigyou_name">{$login.user_kigyou_name|escape}</h2>
              <p id="user_name">{$login.user_name|escape} 様</p>
              <p id="how">健康状態は大丈夫ですか？</p>
              {if $kizon_kaitou!=""}
                <br><span style="font-size:30px;">{$kizon_kaitou|escape}</span><br>
              {/if}
          <ul class="Venue-btn" id="ans">
            <li class="Venue-btn01" onclick="_ans('y');"><a href="javascript:void(0);">はい</a></li>
            <li class="Venue-btn02" onclick="_ans('n');"><a href="javascript:void(0);">いいえ</a></li>
          </ul>
          </form>
      {else}
          事前アンケートはご来場当日にご回答できます。<br>
          ご来場当日にご回答ください。<br>
          <br>
          イベント：{$event_rec.event_name|escape}<br>
          {if $event_rec.event_kaisai_ymd_st==$event_rec.event_kaisai_ymd_ed}
            開催日：{$event_rec.event_kaisai_ymd_st|escape}
          {else}
            開催期間：{$event_rec.event_kaisai_ymd_st|escape}〜{$event_rec.event_kaisai_ymd_ed|escape}
          {/if}
      {/if}
    </div>


</div>
<!--/#contents-->

<footer>

<div id="copyright">
<small>Copyright (c) NIPPON ACCESS, INC. All rights reserved.</small>
</div>

</footer>

</body>
</html>
